# ============================================================
# Configurações do Frontend (SvelteKit)
# ============================================================
# Valores locais. No Coolify, os FQDNs são gerados automaticamente em runtime.
SERVICE_FQDN_POCKETBASE=127.0.0.1:8090

# ============================================================
# Configurações do Backend (PocketBase)
# ============================================================
PB_SUPERUSER_EMAIL=admin@admin.com
PB_SUPERUSER_PASSWORD=admin123456
